<div id="<%= dom_id assignment %>">
  <p>
    <strong>State:</strong>
    <%= assignment.state %>
  </p>

  <p>
    <strong>Nurse:</strong>
    <%= assignment.nurse_id %>
  </p>

  <p>
    <strong>Shift:</strong>
    <%= assignment.shift_id %>
  </p>

</div>
