<h1>Blockly</h1>

<p>
  <button onclick="showJSCode()">Show JavaScript</button>
  <button onclick="runJSCode()">Run JavaScript</button>
  <button onclick="showAUKCode()">Show AUK</button>
  <button onclick="runAUKCode()">Run AUK</button>
</p>

<div id="blocklyDiv" style="height: 480px; width: 600px;"></div>
<xml id="toolbox" style="display: none">
  <category name="資源" colour="210">
  <block type="math_sum"></block>
  </category>
  <category name="制約" colour="150">
  </category>
  <category name="集合" colour="60">
  </category>
  <category name="条件式" colour="180">
  </category>
  <category name="条件" colour="300">
  </category>
  <category name="時間枠集合" colour="120">
  </category>
  <category name="看護師集合" colour="240">
  </category>
  <category name="数" colour="90">
  </category>
  <category name="文字列" colour="270">
  </category>
</xml>
<category name="Logic" colour="210">
<block type="controls_if"></block>
<block type="logic_compare"></block>
<block type="logic_operation"></block>
<block type="logic_negate"></block>
<block type="logic_boolean"></block>
</category>
<category name="Loops" colour="120">
<block type="controls_repeat_ext"></block>
<block type="controls_whileUntil"></block>
</category>
<category name="Math" colour="230">
<block type="math_number"></block>
<block type="math_arithmetic"></block>
<block type="math_single"></block>
</category>
<category name="Text" colour="180">
<block type="text"></block>
<block type="text_print"></block>
</category>

<script type="module">
import Blockly from "../../assets/javascripts/blockly_compressed";
import "../../assets/blockly.js";
import "../../assets/blocks_compressed.js";
import "../../assets/javascript_compressed.js";
import "../../assets/blocks.js";

var workspace = Blockly.inject('blocklyDiv', {
  toolbox: document.getElementById('toolbox'),
  grid: {
    spacing: 20,
    length: 3,
    color: '#ccc',
    snap: true
  },
  trashcan: true,
  zoom: {
    controls: true,
    wheel: true,
    startScale: 1.0,
    maxScale: 3,
    minScale: 0.3,
    scaleSpeed: 1.2,
  },
});
</script>