<h1>Blockly</h1>

<p>
  <button onclick="showCode()">Show JavaScript</button>
  <button onclick="runCode()">Run JavaScript</button>
</p>

<div id="blocklyDiv" style="height: 480px; width: 600px;"></div>
<xml id="toolbox" style="display: none">
  <category name="Logic" colour="210">
    <block type="controls_if"></block>
    <block type="logic_compare"></block>
    <block type="logic_operation"></block>
    <block type="logic_negate"></block>
    <block type="logic_boolean"></block>
  </category>
  <category name="Loops" colour="120">
    <block type="controls_repeat_ext"></block>
    <block type="controls_whileUntil"></block>
  </category>
  <category name="Math" colour="230">
    <block type="math_number"></block>
    <block type="math_arithmetic"></block>
    <block type="math_single"></block>
  </category>
  <category name="Text" colour="180">
    <block type="text"></block>
    <block type="text_print"></block>
  </category>
</xml>

<script>
var workspace = Blockly.inject('blocklyDiv', {
  toolbox: document.getElementById('toolbox'), 
  grid: {
    spacing: 20,
    length: 3,
    color: '#ccc',
    snap: true
  },
  trashcan: true,
  zoom: {
    controls: true,
    wheel: true,
    startScale: 1.0,
    maxScale: 3,
    minScale: 0.3,
    scaleSpeed: 1.2,
  },
});
</script>