<div id="<%= dom_id shift %>">
  <p>
    <strong>Date:</strong>
    <%= shift.date %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= shift.name %>
  </p>

  <p>
    <strong>State:</strong>
    <%= shift.state %>
  </p>

</div>
