<div id="<%= dom_id nurse %>">
  <p>
    <strong>Name:</strong>
    <%= nurse.name %>
  </p>

  <p>
    <strong>Ladder level:</strong>
    <%= nurse.ladder_level %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= nurse.team_id %>
  </p>

</div>
