<div class="row">
  <div class="col-lg-4 col-md-12"><h2>看護師登録</h2></div>
  <div class="col-lg-6 col-md-0"></div>
  <div class="col-lg-2 col-md-12"><%= link_to "看護師一覧へ", nurses_path, class: "btn btn-outline-primary" %></div>
</div>

<%= render "form", nurse: @nurse %>
