body{
  overflow-x: hidden;
}


table{
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

.left-align{
  text-align: left;
}

.center-align{
  text-align: center;
}

.right-align{
    text-align: right;
}

.day{
  color: red;
}

.sem{
  color: green;
}

.ngt{
  color: blue;
}

.off{
  color: black;
}

.bg-day{
  background: lightpink;
}

.bg-sem{
  background: greenyellow;
}

.bg-ngt{
  background: lightblue;
}

.bg-off{
  background: whitesmoke;
}