body{
  overflow-x: hidden;
}


table{
  border-collapse: separate;
  width: 80%;
  margin: auto;
  border-color: black;
}

caption {
  font-weight: bold;
  text-align: center;
  color: black;
  padding: 0.5em;
  caption-side: top;
}

.left-align{
  text-align: left;
}

.center-align{
  text-align: center;
}

.right-align{
    text-align: right;
}

.day{
  color: red;
}

.sem{
  color: green;
}

.ngt{
  color: blue;
}

.off{
  color: black;
}

.bg-day{
  background: white;
}

.bg-sem{
  background: lightblue;
}

.bg-ngt{
  background: lightpink;
}

.bg-semngt{
  background: greenyellow;
}

.bg-off{
  background: whitesmoke;
}

.bg-holidays{
  background: pink;
}