<h1>Editing shift type</h1>

<%= render "form", shift_type: @shift_type %>

<br>

<div>
  <%= link_to "Show this shift type", @shift_type %> |
  <%= link_to "Back to shift types", shift_types_path %>
</div>
