<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-info mb-3 z-50">
  <div>
    <%= link_to "modernTimes", assignments_path, method: :get, class: "navbar-brand" %>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li><%= link_to "看護師一覧", rails_nurses_path, method: :get, class: "nav-link" %></li>
      <li><%= link_to "シフト", assignments_path, method: :get, class: "nav-link" %></li>
      <li><%= link_to "チーム一覧", teams_path, method: :get, class: "nav-link" %></li>
    </ul>
  </div>
</nav>